<div class="row">
    <div style="column-width: 80px;">
        <div class="color_top">
            <div style="color: black; font-size: 16px; font-weight: '700'">
                Color <br> Scale
            </div>
            <div class="color_scale color1">
                <p>> 7</p>
            </div>
            <div class="color_scale color2">
                <p >6 - 7</p>
            </div>
            <div class="color_scale color3">
                <p>5 - 6</p>
            </div>
            <div class="color_scale color4">
                <p >4 - 5</p>
            </div>
            <div class="color_scale color5">
                <p> < 4 </p>
            </div>
        </div>
    </div>
    <div class="col-2" style="padding: 0;">
        
        
        <div class="container">
            <div class="menu-box block">
                <div class="center top">
                    <p style="font-size: 25px;color: white">Daily</p>
                </div>
                <ul class="box horizontal-list">
                    <li class="element_left">
                        <p class="box-child">Monthly</p>
                    </li>
                    <li class="element_right">
                        <p class="box-child"> YTD</p>
                    </li>
                </ul>
            </div>
        </div>
        
 
        <div style="    position: absolute;
        bottom: 0;
        left: 0;">
            <div class="menu-box block" style="margin-top:70%">
            
                <h2 class="title">M101 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
              
        <ul class="box horizontal-list">
           <li class="block_left">
                <h5 class="font_color5">
                    0.0 %
                </h5>
            </li>
            <li class="block_right">
                <h5 class="font_color5">
                    0.0 %
                </h5>
            </li>
        </ul>
            </div>
            <div class="menu-box block" >
                
                <h2 class="title">M102 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
              
        <ul class="box horizontal-list">
           <li class="block_left">
                <h5 class="font_color5">
                    0.0 %
                </h5>
            </li>
            <li class="block_right">
                <h5 class="font_color5">
                    0.0 %
                </h5>
            </li>
        </ul>
            </div>
    
        </div>
      

    </div>
    <div class="col-7" style="margin-top:5%" >
    
        <div class="row">
            <div class="col-4">

                
            </div>
            <div class="col-4">
                <div class="menu-box block" >
            
                    <h2 class="title">M112 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
                  
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h6 class="font_color5">
                        0.0 %
                    </h6>
                </li>
                <li class="block_right">
                    <h6 class="font_color5">
                        0.0 %
                    </h6>
                </li>
            </ul>
                </div>
            </div>
            <div class="col-4">
                
            </div>
        </div>
        <div class="row">
     
            <div class="col-2">

            </div>
            <div class="col-8">
                <div class="container main"> 
                    <div class="card mdb-color darken-4 card" >
                        <h4 class="option text-white title">
                         T1
                        </h4>
                        <h4 class="option text-white date">
                           26 Aug 2020 
                        </h4>
                        <div class="card-body" class="striped green-striped heading p-0 card-body">
                            <ul class="box horizontal-list">
                                <li class="li1"
                                   >
                                    <h6 class="text-bottom font1">
                                        <i class="fa fa-caret-down blink-up text-danger"></i>
                                        3.3 %
                                    </h6>
                                </li>
                                <li class="li4" >
                                    <h6 class="text-bottom font2">
                                        <i class="fa fa-caret-up blink-up text-success"></i>
                                        3.5 %
                                    </h6>
                                </li>
                            </ul>
            
                        </div>
                    </div>
    
    
                </div>
            </div>

            <div class="col-2">
                
            </div>


         
    </div>



    </div>
    <div class="col-2" style="padding: 0; ">
        <div class="menu-box block" >
            
            <h2 class="title">M111 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
          
    <ul class="box horizontal-list">
       <li class="block_left">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
        <li class="block_right">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
    </ul>
        </div>
        <div class="menu-box block" >
            
            <h2 class="title">M110 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
          
    <ul class="box horizontal-list">
       <li class="block_left">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
        <li class="block_right">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
    </ul>
        </div>
        <div class="menu-box block" >
            
            <h2 class="title">M109 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
          
    <ul class="box horizontal-list">
       <li class="block_left">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
        <li class="block_right">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
    </ul>
        </div>
        <div class="menu-box block" >
            
            <h2 class="title">M108 : GAS-GENERANT WEIGHING GAS-GENERANT </h2>
          
    <ul class="box horizontal-list">
       <li class="block_left">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
        <li class="block_right">
            <h5 class="font_color5">
                0.0 %
            </h5>
        </li>
    </ul>
        </div>
    </div>
</div>

<div class="row">
    <div style="column-width: 80px;">

    </div>
    <div class="col-2" style="padding: 0;">

        <div class="menu-box block" >
            <h2 class="title">M103 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
                <li class="block_right">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-7" >
        <div class="row">
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M104 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M105 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right li1">
                            <h5 class="font_color1">
                                0.3 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M106 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-2" style="padding:0">
        <div class="menu-box block">
            <h2 class="title">M107 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
                <li class="block_right">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</div>
