<div class="container-fluid" style="background-color: white">
    <div class="row" style=" background-color: white; display: flex; justify-content: center;">
        <div class="col-1">
            <div class="fond">
                <div style="color: #1f253d; font-size: 16px; font-weight: '700'">
                    Color Scale
                </div>
                <!-- <span style="color: black;">Color Scale</span> -->
                <div class="style_prevu_kit"
                    style="border: 1px solid #dee2e6; background-color: #ff0000; justify-content: center; align-items: center; ">
                    <p style="color: black; font-weight: 400;">> 7</p>
                </div>
                <div class="style_prevu_kit"
                    style="border: 1px solid #dee2e6; background-color: #ffc000; justify-content: center; align-items: center;">
                    <p style="color: black; font-weight: 400;">6 - 7</p>
                </div>
                <div class="style_prevu_kit"
                    style="border: 1px solid #dee2e6; background-color: #ffd966; justify-content: center; align-items: center;">
                    <p style="color: black; font-weight: 400;">5 - 6</p>
                </div>
                <div class="style_prevu_kit"
                    style="border: 1px solid #dee2e6; background-color: #00ff00; justify-content: center; align-items: center;">
                    <p style="color: black; font-weight: 400;">4 - 5</p>
                </div>
                <div class="style_prevu_kit"
                    style="border: 1px solid #dee2e6; background-color: #00b050; justify-content: center; align-items: center;">
                    <p style="color: black; font-weight: 400;">
                        < 4 </p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="container">
                <div class="menu-box block">

                    <div class="center"
                        style="border: 1px solid #dee2e6; background-color:#00b050 ; height: 60px;">
                        <div class="circle small" style="color: white">
                            <span style="font-size: 30px;">Daily</span>
                        </div>
                    </div>
                    <ul class="os-percentages horizontal-list">
                        <li
                            style="border: 1px solid #dee2e6; background-color: #00b050;   height: 60px;   border-right: 1px solid white;">
                            <p class="os-percentage" style="font-size:18px">Monthly</p>
                        </li>
                        <li style="border: 1px solid #dee2e6; background-color:#00b050 ; height: 60px;">
                            <p class="os-percentage" style="font-size:18px">YTD</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row" style="height: 50%">
                <div class="col-6">
                    <div class="menu-box block" style="margin:45px 0 0 0;">
                        <!-- M101 -->
                        <!-- <h2 class="titular">{{machines[0]?.product_name}}</h2> -->
                        <h2 class="titular">M101 Resistant Welding Machine (Process) no.1</h2>
                        <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                            <span
                                style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                                class="text-bottom">
                                0.0  %
                            </span>
                        </div>
                        <ul class="os-percentages horizontal-list">
                            <li style="background-color: #1c2331 ;    border-right: 1px solid white;">
                                <h5
                                    style="color: #00b350; font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                            <li style="background-color:#1c2331 ">
                                <h5
                                    style="color: #ff0000; font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="menu-box block" style="margin:45px 0 0 0;">
                        <!-- M112 -->
                        <!-- <h2 class="titular">{{machines[11]?.product_name}}</h2> -->
                        <h2 class="titular">M112 Host P.C. no.1</h2>
                        <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                            <span
                                style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                                class="text-bottom">
                                0.0  %
                            </span>
                        </div>
                        <ul class="os-percentages horizontal-list">
                            <li style="background-color: #1c2331 ;    border-right: 1px solid white;">
                                <h5
                                    style="color: #00b350; font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                            <li style="background-color:#1c2331 ">
                                <h5
                                    style="color: #ff0000; font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="menu-box block" style="margin:0px 0px 5px 0;">
                <!-- <h2 class="titular">{{machines[10]?.product_name}}</h2> -->
                <h2 class="titular">M111 Electrical Tester no.1</h2>
                <div class="center3" style="background-color:#1c2331; margin-bottom: 0;">
                    <span
                        style="color: #ffd966; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                        class="text-bottom">
                        0.0  %
                    </span>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li class="li5" style="background-color: #1c2331 ; border-right: 1px solid white;">
                        <h5
                            style="color: #ffc000;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li class="li6" style="background-color:#1c2331 ">
                        <h5
                            style="color: #ffc000;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="menu-box block" style="margin:0px 0px 5px 0;">
                <!-- <h2 class="titular">{{machines[9]?.product_name}}</h2> -->
                <h2 class="titular">M110 Pull Tester no.1</h2>
                <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0  %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li style="background-color: #1c2331 ;    border-right: 1px solid white;">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li style="background-color:#1c2331 ">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: white; margin-bottom: 5em">
        <div class="col-3">
            <div class="menu-box block" style="margin:-60px 0 0 0;">
                <!-- M102 -->
                <!-- <h2 class="titular">{{machines[1]?.product_name}}</h2> -->
                <h2 class="titular">M102 #1 Seal Tape Sticking Machine (Diffuser) no.1</h2>
                <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0 %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li style="background-color: #1c2331 ; border-right: 1px solid white;">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li style="background-color:#1c2331 ">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="menu-box block" style="margin:5px 0 5px 0;">
                <!-- M103 -->
                <!-- <h2 class="titular">{{machines[2]?.product_name}}</h2> -->
                <h2 class="titular">M103 #2 Seal Tape Sticking Machine (Inner Tube) no.1</h2>
                <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0  %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li style="background-color: #1c2331; border-right: 1px solid white;">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li style="background-color:#1c2331 ">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="menu-box block" style="margin:0px 0px 5px 0;">
                <!-- M104 -->
                <!-- <h2 class="titular">{{machines[3]?.product_name}}</h2> -->
                <h2 class="titular">M104 #1 Seal Tape Press Machine ( Diffuser&Inner tube ) no.1</h2>
                <div class="center1" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0  %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li class="li1"
                        style="background-color: #1c2331 ;    border-right: 1px solid white;">
                        <h5
                            style="color: #ff0000;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li class="li2" style="background-color:#1c2331 ">
                        <h5
                            style="color: #00ff00;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="row" style="margin-top: -15rem;">
                <div class="container"
                    style=" width: 60%; margin-top: 34%; margin-bottom: 1%; height: 40%; font-size: 2rem;">
                    <div class="card mdb-color darken-4 card" style="margin-bottom: -10rem">
                        <h4 class="option text-white"
                            style="margin-bottom: 0; font-weight: 500; font-size: 2rem;">
                            T7
                        </h4>
                        <h4 class="option text-white"
                            style="padding: 0.5rem; margin-bottom: 0; font-weight: 500; font-size: 1rem; border-bottom: 1px solid white;">
                            17-Aug-20 (Day)
                        </h4>
                        <div class="card-body" class="striped green-striped heading p-0 card-body">
                            <h6 style="color: #FF4043; font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;"
                                class="text-bottom">
                                <i class="fa fa-caret-up blink-up text-success"></i>
                                56 %
                            </h6>
                            <ul class="os-percentages horizontal-list"
                                style=" border-top: #fff 1px solid">
                                <li
                                    style="background-color:#1c2331   ;  border-right: 1px solid white;">
                                    <h6 style="color: #FF4043; font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;"
                                        class="text-bottom">
                                        <i class="fa fa-caret-up blink-up text-success"></i>
                                        56 %
                                    </h6>
                                </li>
                                <li style="background-color: #1c2331 ;">
                                    <h6 style="color: #FF4043; font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;"
                                        class="text-bottom">
                                        <i class="fa fa-caret-up blink-up text-success"></i>
                                        56 %
                                    </h6>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15em">
                <div class="col-6">
                    <div class="menu-box block" style="margin:0px 0px 5px 0;">
                        <!-- M105 -->
                        <!-- <h2 class="titular">{{machines[4]?.product_name}}</h2> -->
                        <h2 class="titular">M105 Gas-Generant weighing and Charging Equipment no.1</h2>
                        <div class="center2" style="background-color:#1c2331; margin-bottom: 0;">
                            <div class="circle small" style="color: white">
                                <span
                                    style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                                    class="text-bottom">
                                    0.0  %
                                </span>
                            </div>
                        </div>
                        <ul class="os-percentages horizontal-list">
                            <li class="li3"
                                style="background-color: #1c2331 ;    border-right: 1px solid white;">
                                <h5
                                    style="color: #00b050;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                            <li class="li4" style="background-color:#1c2331 ">
                                <h5
                                    style="color: #ff0000;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6">
                    <div class="menu-box block" style="margin:0px 0px 5px 0;">
                        <!-- M106 -->
                        <!-- <h2 class="titular">{{machines[5]?.product_name}}</h2> -->
                        <h2 class="titular">M106 Laser Welding Machine (Process) no.1</h2>
                        <div class="center3" style="background-color:#1c2331; margin-bottom: 0;">
                            <div class="circle small" style="color: white">
                                <span
                                    style="color: #ffd966; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                                    class="text-bottom">
                                    0.0  %
                                </span>
                            </div>
                        </div>
                        <ul class="os-percentages horizontal-list">
                            <li class="li5"
                                style="background-color: #1c2331 ;    border-right: 1px solid white;">
                                <h5
                                    style="color: #ffc000;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                            <li class="li6" style="background-color:#1c2331 ">
                                <h5
                                    style="color: #ffc000;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                                    0.0  %
                                </h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="menu-box block" style="margin:0px 0px 5px 0;">
                <!-- M109 -->
                <!-- <h2 class="titular">{{machines[8]?.product_name}}</h2> -->
                <h2 class="titular">M107 Labelling Equipment no.1</h2>
                <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0  %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li style="background-color: #1c2331 ;    border-right: 1px solid white;">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li style="background-color:#1c2331 ">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="menu-box block" style="margin:0px 0px 5px 0;">
                <!-- M108 -->
                <!-- <h2 class="titular">{{machines[7]?.product_name}}</h2> -->
                <h2 class="titular">M107 Labelling Equipment no.1</h2>
                <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0  %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li style="background-color: #1c2331 ;    border-right: 1px solid white;">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li style="background-color:#1c2331 ">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="menu-box block" style="margin:0px 0px 5px 0;">
                <!-- M106 -->
                <!-- <h2 class="titular">{{machines[5]?.product_name}}</h2> -->
                <h2 class="titular">M106 Laser Welding Machine (Process) no.1</h2>
                <div class="center" style="background-color:#1c2331; margin-bottom: 0;">
                    <div class="circle small" style="color: white">
                        <span
                            style="color: #00b350; line-height: 1.6; font-size: 1.8rem !important; font-weight: 600; margin-bottom: 0;"
                            class="text-bottom">
                            0.0  %
                        </span>
                    </div>
                </div>
                <ul class="os-percentages horizontal-list">
                    <li style="background-color: #1c2331 ;    border-right: 1px solid white;">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                    <li style="background-color:#1c2331 ">
                        <h5
                            style="color: #00b350;  font-weight: 600 !important; font-size: 1.8rem; margin-bottom: 0;">
                            0.0  %
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

