<div class="row">
    <div style="column-width: 80px;">
        <div class="color_top">
            <div style="color: black; font-size: 16px; font-weight: '700'">
                Color <br> Scale
            </div>
            <div class="color_scale color1">
                <p>> 7</p>
            </div>
            <div class="color_scale color2">
                <p >6 - 7</p>
            </div>
            <div class="color_scale color3">
                <p>5 - 6</p>
            </div>
            <div class="color_scale color4">
                <p >4 - 5</p>
            </div>
            <div class="color_scale color5">
                <p> < 4 </p>
            </div>
        </div>
    </div>
    <div class="col-4" style="padding: 0;">
     
        <div class="container" style="float: left;
        width: 50%;">
            <div class="menu-box block">
                <div class="center top">
                    <p style="font-size: 25px;color: white">Daily</p>
                </div>
                <ul class="box horizontal-list">
                    <li class="element_left">
                        <p class="box-child">Monthly</p>
                    </li>
                    <li class="element_right">
                        <p class="box-child"> YTD</p>
                    </li>
                </ul>
            </div>
        </div>
    

    </div>

    <div class="col-6" >

        
    </div>
    <div class="col-2" style="padding: 0; ">

  
    </div>
</div>


<div class="row" style="margin-top: 20px;">
    <div style="column-width: 80px;">

    </div>
    <div class="col-4" style="padding: 0">
        <div class="card mdb-color darken-4 card" style="width: 80%;"> 
            <h4 class="option text-white title">
             T5
            </h4>
            <h4 class="option text-white date">
               26 Aug 2020 
            </h4>
            <div class="card-body" class="striped green-striped heading p-0 card-body">
                <ul class="box horizontal-list">
                    <li class="li1"
                       >
                        <h6 class="text-bottom font1">
                            <i class="fa fa-caret-down blink-up text-danger"></i>
                            19.6 %
                        </h6>
                    </li>
                    <li class="li2" >
                        <h6 class="text-bottom font1">
                            <i class="fa fa-caret-down blink-up text-danger"></i>
                            13.6 %
                        </h6>
                    </li>
                </ul>

            </div>
        </div>


    </div>
    <div class="col-7" >
        <div class="row">
            <div class="col-2">
             
            </div>
            <div class="col-4" style="position: absolute; bottom: 0; left: 5%;">
                <div class="menu-box block">
                    <h2 class="title">M510 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
         
        </div>
        
    </div>
    <div class="col-1" style="padding:0">
      
    </div>
</div>


<div class="row" style="margin-top: 20px;">
    <div style="column-width: 80px;">

    </div>
    <div class="col-2" style="padding: 0;">
        <div class="menu-box block">
            <h2 class="title">M501 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
                <li class="block_right">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
            </ul>
        </div>
     
    </div>
    <div class="col-7" >
        <div class="row">
            <div class="col-4">
              
            </div>
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M509 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M508 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-2" style="padding:0">
        <div class="menu-box block">
            <h2 class="title">M507 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
                <li class="block_right">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="row" style="margin-top: 20px;">
    <div style="column-width: 80px;">

    </div>
    <div class="col-2" style="padding: 0;">

        <div class="menu-box block" >
            <h2 class="title">M502 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
                <li class="block_right">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-7" >
        <div class="row">
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M503 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M504 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="menu-box block">
                    <h2 class="title">M505 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
                    <ul class="box horizontal-list">
                       <li class="block_left">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                        <li class="block_right">
                            <h5 class="font_color5">
                                0.0 %
                            </h5>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-2" style="padding:0">
        <div class="menu-box block">
            <h2 class="title">M506 : GAS-GENERANT WEIGHING GAS-GENERANT WEIGHING</h2>
            <ul class="box horizontal-list">
               <li class="block_left">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
                <li class="block_right">
                    <h5 class="font_color5">
                        0.0 %
                    </h5>
                </li>
            </ul>
        </div>
    </div>
</div>
