/* Color Scale Style  */
.color_top {
  position: absolute;
  padding-top: 10px;
  top: 0;
  left: 10px;
  right: 0;
  bottom: 0;
}
.color_scale {
  border: 0;
  width: 40px;
  height: 30px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 35px;
}
.color_scale.color1 {
  border: 1px solid #dee2e6;
  background-color: #ff0000;
  justify-content: center;
  align-items: center;
}
.color_scale.color2 {
  border: 1px solid #dee2e6;
  background-color: #ffc000;
  justify-content: center;
  align-items: center;
}
.color_scale.color3 {
  border: 1px solid #dee2e6;
  background-color: #ffd966;
  justify-content: center;
  align-items: center;
}
.color_scale.color4 {
  border: 1px solid #dee2e6;
  background-color: #00ff00;
  justify-content: center;
  align-items: center;
}
.color_scale.color5 {
  border: 1px solid #dee2e6;
  background-color: #00b050;
  justify-content: center;
  align-items: center;
}

 /* Daily Monthly */
 .box li {
  color: white;
  width: 50%;
  text-align: center;
}
.box-child {
  font-size: 18px;
  font-weight: 700;
  padding: 0 0 15px 10px;
  font-family: Roboto, sans-serif;
}
 .center.top {
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  justify-content: center;
  border: 1px solid #dee2e6;
  background-color: #00b050;
  height: 35px;
}
 .element_left {
  color: white;
  border: 1px solid #dee2e6;
  background-color: #00b050 !important;
  height: 30px;
  border-right: 1px solid white;
}
.element_right {
  border: 1px solid #dee2e6;
  background-color: #00b050 !important;
  height: 30px;
}

/* Block Component  */
.title {
  /* display: block;
  line-height: 40px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Roboto, sans-serif; */
  display: block;
  line-height: 1.6;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Roboto,sans-serif;

}
.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}
.block_left {
  background-color: #1c2331 !important; border-right: 1px solid white;border-top: 1px solid white;  
}
.block_right{
  background-color:#1c2331 !important;border-top: 1px solid white;  
}
.block {
  margin: 4px 0px 2px 0;
  background: #ffffff;
  border-radius: 5px;
  float: left;
  width: 100%;
  overflow: hidden;
}
.menu-box {
  border: 1px solid #ffffff;
}
.menu-box .title {
  background: #1c2331;
}
.menu-box-menu .icon {
  display: inline-block;
  vertical-align: top;
  width: 28px;
}
.menu-box-menu li {
  height: 60px;
  position: relative;
}

/* Main Card */
.container.main{
  width: 80%; margin-top: 10%; margin-bottom: 2%; height: 40%; font-size: 2rem;
}
.option.text-white.title{
  margin-bottom: 0; font-weight: 500; font-size: 2rem;
  text-align: center;
}
.option.text-white.date{
  padding: 0.5rem; margin-bottom: 0; font-weight: 500; font-size: 1rem; border-bottom: 1px solid white;
  text-align: center; 

}

/* Main Card
  -- Font Color inner block 
  -- font1 Color > 7 
  -- font2 Color 6 - 7 
  -- font3 Color 5 - 6 
  -- font4 Color 4 - 5
  -- font5 Color < 4
*/
.text-bottom.font1{
  color: rgb(255, 0, 0); font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;
}
.text-bottom.font2{
  color: rgb(255, 192, 0); font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;
}
.text-bottom.font3{
  color: rgb(255, 217, 102); font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;
}
.text-bottom.font4{
  color: rgb(0, 255, 0);  font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;
}
.text-bottom.font5{
  color: rgb(0, 176, 80); font-size: 2.8rem !important; font-weight: 600; margin-bottom: 0;
}


/* Color Font Inner Small Block */
.font_color1 {
  color: rgb(255, 0, 0);  font-weight: 600 ; font-size: 1.8rem; margin-bottom: 0;
}
.font_color2 {
  color:rgb(255, 192, 0); font-weight: 600 ; font-size: 1.8rem; margin-bottom: 0;
}
.font_color3 {
  color: rgb(255, 217, 102);  font-weight: 600 ; font-size: 1.8rem; margin-bottom: 0;
}
.font_color4 {
  color: rgb(0, 255, 0);  font-weight: 600 ; font-size: 1.8rem; margin-bottom: 0;
}
.font_color5 {
  color: rgb(0, 176, 80); font-weight: 600 ; font-size: 1.8rem; margin-bottom: 0;
}

/* Blink Block 
    -- li1 : Color > 7     block left 
    -- li2 : Color > 7     block right 
    -- li3 : Color 6 - 7   block left 
    -- li4 : Color 6 - 7   block right
    -- li5 : Color 5 - 6   block left 
    -- li6 : Color 5 - 6   block right 
    -- li7 : No  Color     block left 
    -- li8 : No  Color     block right 
*/
.li1 {
  border-right: 1px solid white;
  animation: alertblink1 0.5s infinite;
  background-color: #1c2331; border-right: 1px solid white;border-top: 1px solid white; 
}
.li2 {
  background-color:#1c2331;border-top: 1px solid white;  
  animation: alertblink1 0.5s infinite;
}
.li3 {
  background-color: #1c2331; border-right: 1px solid white;border-top: 1px solid white; 
  border-right: 1px solid white;
  animation: alertblink2 1s infinite;
}
.li4 {
  background-color:#1c2331;border-top: 1px solid white;  
  animation: alertblink2 1s infinite;
}
.li5 {
  background-color: #1c2331; border-right: 1px solid white;border-top: 1px solid white; 
  border-right: 1px solid white;
  animation: alertblink3 2s infinite;
}
.li6 {
  background-color:#1c2331;border-top: 1px solid white;  
  animation: alertblink3 2s infinite;
}
.li7 {
  background-color: #1c2331; border-right: 1px solid white;border-top: 1px solid white; 
  border-right: 1px solid white;
}
.li8 {
  background-color:#1c2331;border-top: 1px solid white;  
}


/* Blink > 7  */
@keyframes alertblink1 {
  0% {
    box-shadow: inset 0 0 0rem 0rem rgba(192, 32, 48, 0),
      inset 0.05px 0 9px 5px rgb(255, 0, 0);
  }
  50% {
    box-shadow: inset 0 0 1rem -0.5rem rgba(192, 32, 48, 0),
    0.25rem 0 0 rgba(192, 32, 48, 0);
  }

  100% {
    box-shadow: inset 0 0 0rem 0rem rgba(192, 32, 48, 0),
      inset 0.05px 0 9px 5px rgb(255, 0, 0);
  }
}
/* Blink 6  -  7  */
@keyframes alertblink2 {
  0% {
    box-shadow: inset 0 0 0rem 0rem rgba(192, 32, 48, 0),
      inset 0.05px 0 9px 5px rgb(255, 192, 0);
  }
  50% {
    box-shadow: inset 0 0 1rem -0.5rem rgba(192, 32, 48, 0),
      0.25rem 0 0 rgba(192, 32, 48, 0);
  }

  100% {
    box-shadow: inset 0 0 0rem 0rem rgba(192, 32, 48, 0),
      inset 0.05px 0 9px 5px rgb(255, 192, 0);
  }
}
/* Blink 5  -  6  */
@keyframes alertblink3 {
  0% {
    box-shadow: inset 0 0 0rem 0rem rgba(255, 217, 102, 0),
      inset 0.05px 0 9px 5px rgb(255, 217, 102);
  }
  50% {
    box-shadow: inset 0 0 1rem -0.5rem rgba(192, 32, 48, 0),
    0.25rem 0 0 rgba(192, 32, 48, 0);
  }

  100% {
    box-shadow: inset 0 0 0rem 0rem rgba(255, 217, 102, 0),
      inset 0.05px 0 9px 5px rgb(255, 217, 102);
  }
}


h1,
h2,
h3 {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-weight: 900;
}
